* {
    box-sizing: border-box;
}

body{
    align-items: center;
}
.columns {
 display: inline-block;
    width: 23%;
    padding: 8px;
  

}


.movie {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


.movie:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}


.movie .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

img{
 width:200px;
 height:180px;
}
.image{
  
    text-align: center;
}
.movie li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.movie .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 25px;
 
    text-decoration: none;
    font-size: 18px;
   
}
.button-dlt{
    background-color: crimson;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
}

.str{
    color:gold;
    padding:5px;
}