<div class="card">
    <img  alt="Denim Jeans" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p class="button">Add to Cart</p>
  </div>
  <div class="container">
    <form [FormGroup]="myForm" >
  
      <label for="mName">Movie Name</label>
      <input type="text" id="fname" name="movieTitle" formControlName="movieTitle" placeholder="Movie Title.">
      <label >Moive Stars</label>
      <div class="select">
        <select name="format" formControlName="numberOfStars" id="format">
           <option selected disabled>Choose the number of stars</option>
           <option value="1">1-Star</option>
           <option value="2">2-Stars</option>
           <option value="3">3-Stars</option>
           <option value="4">4-Stars</option>
           <option value="5">5-Stars</option>
        </select>
     </div>

      <label >Date air/aired</label>
      <input type="date" id="lname"formControlName="dateAired" name="lastname" placeholder="Number Of Stars..">

   
  
      <label for="subject">Description</label>
      <textarea id="subject" name="subject" formControlName="description" placeholder="Write something.." style="height:100px"></textarea>
      <label >Image</label>
      <input class="chf" type="file" accept ='images/*' formControlName="image" >
      <button type="submit" value="Submit">Upload</button>
   
  
    </form>
  </div>
  
